input, label {
    all: unset;
    display: inline;
}

input {
    caret-color: rgb(14,251,42);
}

label {
    text-align: left;
    white-space: normal;
}

* {
  font-family: 'Source code pro';
  font-weight: 400;
  font-size: medium;
  color-scheme: dark;
  cursor: text;
}

body {
    background-color: rgb(18, 18, 18);
    overflow-x: hidden;
}

*::selection {
    background-color: #31602c;
    text-shadow: .1em .1em .5em #000;
}

pre *, pre {
    text-shadow: .1em .1em .5em #3d3d3d;
}

pre:not(.prompt) {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

a {
    color: white;
}

a:hover {
    background-color: white;
    color: black !important;
}

p {
    margin: 0;
    text-align: right;
}

.prompt {
    padding: 0;
    width: 100%;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.prompt label {
    flex: 0 0 8em;
    text-align: right;
}

.prompt input {
    flex: 1; 
}

.mobile {
    display: none;
}

@media (max-width: 756px) {
    .mobile {
        display: block;
    }
    .nomobile {
        display: none;
    }
}
.header{
    text-shadow: 0 0 10px #a1dd9b;
}
.asdf{
    text-shadow: 0 0 5px #a1dd9b;
    font-weight: 300;

}